
.actionbutton_green{
    
    background: #9bdb42;
    color : white;
}
.actionbutton_green:hover{
    
    background: #8bc53b;
    color : white;
}

.actionbutton_green:active{
    
    
    color : white !important;
}

.actionbutton_green:focus{
    
    
    color : white !important;
}

.actionbutton_green:activated{
    
    
    color : white !important;
}



