<div class="versacommerce baseonecolumn">

    <div class="container">

        <div class="headline format0">
            Versa Commerce Integration
        </div>


        <div class="flex">
            <div class="leftcol">
            
            
            
                <img src="img/versacommerce/logoVersaC.png" />
                <div class="toptext" translate="Versamailcosteffectivelymarketingchannel">
                    </div>

                <div class="secondndtext" translate="Attractgroupfocusedeachmail">
                    
                </div>

                 <div class="thirdtext" translate="VersamailCommercespecificallywithdifferent">
                    
                </div>

                <div  role="separator" class="line"></div>  

                <div class="sofunktionierts" translate="Itisveryeasy">
                    
                </div>
                 <div class="manualstep martop20" translate="1CreateVersaCommerceinstancesinMailtastic">
                   
                </div>

                <div class="manualexpl martop10" translate="ninetypesautomaticallydepartmentscreated">
                    


                </div>
                 <button  type="button" ng-click="createVersaCommerceUsers()"  class="btn  actionbutton martop10" translate="CreateVersaCommerceusersnow"></button> 

                 <div class="manualstep  martop20" translate="2ActivateMailtasticintegration">
                    
                </div>

                <div class="manualexpl  martop10" translate="ActivateMailtasticIDatVersaCommerce">
                    
                </div>



                <div class="form-group  martop10">
                    <label for="exampleInputEmail1">Mailtastic-ID:</label>
                    <input type="text" class="form-control input-lg" ng-model="userId" placeholder="-NOCH NICHT GELADEN-">
                </div>
                <div class="manualexpl  martop10" translate="VersaCommerceintegrationReinterMailtasticEnable">                    
                </div>
                 
                  <img class="martop20" src="img/versacommerce/Bild1.png" />
               

                <div class="manualstep  martop20" translate="3Assigncampaigns">
                   
                </div>

                <div class="manualexpl  martop10" translate="Assignthedepartmentscorrespondingviewandtrack">
                    
                </div>
                 



            </div>
            <div class="rightcol">
                 <div class="helpcontainer" ng-include src="'assistant/common/helparea.html'" >

            </div>
                
                
         </div>
           
        </div>
        </div>
    </div>