<div class="selectmethod flex-center-all">
    
   
     <div ng-click="modaloptions.currentStep = 'new';modaloptions.cameFromChoose = true" class="choiceitem" >
         <div>
        <img src="img/employees/modal/method_existing.png">
        <div class="text" translate="Createanewdepartment"></div>
        </div>
    </div>
     <div ng-click="modaloptions.currentStep = 'existing';modaloptions.cameFromChoose = true"  class="choiceitem middlecol" >
           <div>
        <img src="img/employees/modal/method_existing.png">
        <div class="text" translate="AddExistingDepartment"></div>
        </div>
    </div>
    
</div>