<div class="selectmethod">
    
   
     <div ng-click="modaloptions.currentStep = 'new';modaloptions.cameFromChoose = true" class="choiceitem" >
         <div>
        <img src="img/employees/modal/method_new.png">
        <div class="text" translate="Generatenewemployees"></div>
        </div>
    </div>
     <div ng-click="modaloptions.currentStep = 'existing';modaloptions.cameFromChoose = true"  class="choiceitem middlecol" >
           <div>
        <img src="img/employees/modal/method_existing.png">
        <div class="text" translate="AddExistingemployees"></div>
        </div>
    </div>
     <div class="choiceitem" ng-click="modaloptions.currentStep = 'import';modaloptions.cameFromChoose = true">
         <div>
        <img src="img/employees/modal/method_import.png">
        <div class="text" translate="EmployeesImport"></div>
         </div>
    </div>
</div>