<!DOCTYPE html>
<html>
  
  <head>
    <title></title>
  <meta charset="utf-8">
<style type="text/css">

</style>
</head>
  
  <body width="590" style="padding:0; margin:0; background: #faf9f7;">
    <table  cellspacing="0" cellpadding="0" width="590" align="center" style="background: #faf9f7;">
      <tr>
        <td align="center" width="590" style="width : 590px;max-width: 590px; min-width: 300px;">
          <table cellspacing="0" cellpadding="0" align="center" width="100%" style="max-width: 590px; min-width: 300px;">
            <tr>
              <td align="center">
                <table cellspacing="0" cellpadding="0" align="center" width="100%" style="max-width: 590px; min-width: 300px;">
                  <tr>
                    <td align="left" style="padding: 28px 0 19px 36px;">
                      <!--<div style="padding: 28px 0 19px 36px;" class="macpaw_logo">-->
                        <a href="https://www.mailtastic.de"
                        target="_blank">
                          <img width="114" height="30" src="https://www.app.mailtastic.de/img/navigation/logo_alt.png" alt="Mailtastic">
                        </a>
                      <!--</div>-->
                    </td>
                  </tr>
                  <tr>
                    <table cellspacing="0" cellpadding="0" align="center"  width="590" style="width : 590px;max-width: 590px; min-width: 300px; border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e6e3e3; background-color: #fff;">
                     
                      <tr>
                        <td style="padding: 39px;padding-bottom : 20px;">
                          <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 24px; color: #000000; line-height: 29px;">
                              
                            Sie haben Ihr Passwort vergessen?
                          
                          </div>
                        </td>
                      </tr>
                      
                       
                        <tr>
                        <td style="padding: 18px 39px 23px;">
                        <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #333333; line-height: 24px;"> 
                            
                              Kein Problem! Klicken Sie bitte auf den folgenden Link, um ein neues Passwort zu setzen. <br>
                    Wenn Sie Ihr Passwort nicht vergessen haben, können Sie diese E-Mail ignorieren.  
                        
                        </div>
                        </td>
                        </tr>
                      
                        <tr>
                        <td style="padding-left : 39px;padding-right : 39px;">
                        <div class="btn-primary btn-md btn-rausch" style="font-family:Helvetica, Arial, sans-serif;font-weight:normal;margin:0;text-align:left;line-height:19px;font-size:16px;color:#0a0a0a;background-color:#009fe4;-webkit-border-radius:3px;border-radius:100px;padding:12px 24px 12px 24px;width : 200px;max-width : 200px;">
                              <a href="{{link}}"
                              style="font-family:Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.3;color:#2199e8;text-decoration:none">
                                <p class="text-center" style='font-weight:normal;padding:0;margin:0;text-align:center;font-size:18px;font-family:"Helvetica", Helvetica, Arial, sans-serif;color:white;line-height:26px;margin-bottom:0px !important'>
                                    
                                    Passwort setzen
                                
                                </p>
                              </a>
                        </div>
                          
                          
                      </td>
                       </tr>
                      
                    
                     
                      <tr>
                        <td style="padding: 0 39px;padding-bottom : 20px;">
                          <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 16px; color: #333333; line-height: 24px;">Viel Spaß und liebe Grüße – 
                            <br /> <i>Ihr Mailtastic-Team</i>

                          </div>
                        </td>
                      </tr>
                      <tr >
                        <td style="padding:0 39px;border-bottom : 1px solid #eeeeee;">
<!--                            <div border="1" border-color="#eeeeee" id="greeting" style="border-bottom : 2px solid #eee; color: #444; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 150%; margin-bottom: 20px; padding-bottom: 25px">
                             
                            </div>-->
                        </td>
                      </tr>
                     <tr>
                        <td style="padding: 39px;padding-top : 20px;">
                        <div style="font-family: 'Helvetica Neue', sans-serif; font-weight: 400; font-size: 13px; color: #333333; line-height: 24px;"> 
                            Hilfreiche Tipps rund ums Thema E-Mail-Signatur-Marketing finden Sie
                            in unserem <a href="https://www.mailtastic.de/ressourcen-kunden/">Ressourcen-Bereich</a>. In der <a href="https://www.mailtastic.de/signatur-banner-galerie/">Signatur-Banner-Galerie</a>
                            können Sie sich von den Kampagnen unserer Kunden inspirieren
                            lassen. Sie haben Fragen oder Anregungen? Bitte treten Sie in <a href="https://www.mailtastic.de/kontakt/">Kontakt</a>
                            mit uns – wir stehen Ihnen jederzeit gerne zur Verfügung.
                        </div>
                        </td>
                        </tr>
                    </table>
                  </tr>
                </table>
              
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" width="100%" style="background: #faf9f7;">
            <tr>
              <td align="center">
                <table cellspacing="0" cellpadding="0" width="100%" style="min-width:300px; max-width:590px;">
                  <tr>
                    <td style="padding: 14px 43px 27px;">
                      <div style="text-align:left; font-family:'Helvetica Neue', sans-serif; font-size: 12px; color: #A5ABB1; font-weight: 300; letter-spacing: 0; line-height: 20px; padding: 11px 0 14px 0;">
                        <a href="https://www.mailtastic.de/impressum"
                        id="drop-col-2" style="color: #A5ABB1;">Impressum</a>
                        <a href="https://www.mailtastic.de"
                        id="drop-col-1" style="color: #A5ABB1; padding: 0 16px;">&copy; mailtastic.de</a>
                       
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <style>
      @media only screen and (max-width: 590px) {

            a[id="drop-col-1"], a[id="drop-col-2"], a[id="drop-col-3"] {
                display: block !important;
                width: 100% !important;
                padding: 0 !important;
            }
            div[class="col_1"] {
                display: block !important;
                width: 100% !important;
                text-align: center !important;
                padding: 11px 0 0 !important;
            }
            div[class="col_2"] {
                display: block !important;
                width: 100% !important;
                text-align: center !important;
                padding: 20px 0 0 !important;
            }
            div[class="macpaw_logo"] {
                padding: 23px 0 19px 20px !important;
            }
            div[class="browser_link"] {
                padding: 0 20px 0 0 !important;
            }
            img[class="cmm_icon"] {
                width: 330px !important;
            }
        }
    </style>
  </body>