


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
	<body>
            Hallo {{firstname}}, <br><br>

ich habe gesehen, dass Sie bei Mailtastic noch keine Kampagne erstellt haben 
und wollte kurz fragen, ob ich Ihnen weiterhelfen kann? <br><br>

Gerne kann ich Ihnen kurz persönlich erklären, wie Sie ganz einfach eine Kampagne 
erstellen und Ihren Mitarbeitern zuweisen können. Falls Sie noch keinen Banner haben, kann ich Ihnen da auch helfen. <br><br>

Ich freue mich über Ihre Antwort!<br><br>

Beste Grüße<br><br>

Tao Bauer<br><br><br>



         <table border="0" cellpadding="0" cellspacing="0" class="campaign c1" style="margin: 0;padding: 0;border: 0;vertical-align: baseline;border-collapse: collapse;border-spacing: 0;color:grey;font-family: arial;"> 
            <tr style="margin: 0;padding: 0;border: 0;font-size: 0.0em;font: inherit; vertical-align: baseline;">
                <td colspan="1" rowspan="2" style="border-width: 0;margin: 0;padding: 0;padding-right:10px;border: 0;font: inherit; vertical-align: middle;"> 
                    <a href="https://www.mailtastic.de"> <img style="width : 76px;height : 76px;min-height:76px;max-height : 76px;min-width : 76px;max-width : 76px; display:block !important;" src="http://www.mailtastic.de/img/common/signaturlogo.png"/> 
                    </a>
                </td>
                    <td colspan="4" style="border-width: 0;margin: 0;padding: 0;border: 0; vertical-align: baseline;"> 
                        <div style="font-size : 12px"><span style="color : black;font-weight : bold;">Tao Bauer</span> | Gesch&auml;ftsf&uuml;hrer</div>
                        <div style="font-size : 12px;margin-top : 5px;min-width:460px;">
                            <a href="mailto:t.bauer@mailtastic.de">t.bauer@mailtastic.de</a> 
                            | 0151 701 125 82 | 
                            <a href="https://www.mailtastic.de">
                                <span style="font-weight : bold;">www.mailtastic.de</span>
                            </a> 
                        <hr align="left" style="width : 370px;margin-top : 10px;border: none;margin-bottom:0; height: 1px; color: grey; background-color: grey;"> </td></tr><tr style="font-size : 9px;"> 
                            <td rowspan="1" colspan="1"> 
                                <div style="font-weight: bold;">NETSTAG GmbH</div>
                                <div style="margin-top:2px;">06182 955 70 00</div>
                            </td>
                            <td style="padding-left : 20px;" rowspan="1" colspan="1"> 
                                <div>Rheinallee 88</div>
                                <div style="margin-top:2px;">55120 Mainz</div>
                            </td>
                            <td style="padding-left : 20px;" rowspan="1" colspan="1"> 
                                <div>Amtsgericht Mainz</div>
                                <div style="margin-top:2px;">HRB 46312</div>
                            </td>
                            <td style="padding-left : 20px;" rowspan="1" colspan="1"> 
                                <div>Gesch&auml;ftsf&uuml;hrer: Tao Bauer, Claudio Como</div>
                                <div style="margin-top:2px;">Andreas Schr&ouml;der, Peer Wierzbitzki</div>
                            </td>
                        </tr>
        </table> <br>
 <a  href="https://www.app.mailtastic.de/api/li/722d8a7b-5064-4947-b37e-7bfea661f3d1" style="outline:0 !important;display:block;"><img src="https://www.app.mailtastic.de/api/im/722d8a7b-5064-4947-b37e-7bfea661f3d1/ad" border="0" alt="Bitte aktivieren Sie externe Inhalte, um diese E-Mail vollständig sehen zu können." style="color:blue;font-size:12px;"/></a>
	</body>
</html>