 <p  class="schrift_blau text-bold" translate="NOINSTRUCTIONSFOUND"></p>
 <div class="explain-step-text" translate="SoonUntilhappyhelpyou"></div>
 
 
 
  <p  class="schrift_blau text-bold" translate="WhatclientDOYOUUSE"></p>
  
 <div class="fullform flex otherclientform">

        <input ng-model="othermailclient.clientname" type="text" class="form-control" id="exampleInputName2" placeholder="Ihr Client...">

        <button ng-disabled="!othermailclient.clientname" ng-click="sendothermailclientnotification()" class="btn actionbutton"><span class="glyphicon  glyphicon-arrow-right" aria-hidden="true"></span></button>
    </div>
 
 
  