
<div>
    <p class="zeitaufwand" translate="Exceptionaltimeabout1minute"></p>

 <p  class="schrift_blau text-bold" translate="STEP1"></p>

 

 <div class="explain-step-text" translate="ClicktheIntegrationWizarddownload"></div>
 <a class="btn btn-lg actionbutton downloadbutton" target="_self" href="https://www.app.mailtastic.de/downloads/Mailtastic_EasyIntegrate.exe" download="Mailtastic_EasyIntegrate.exe"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> EasyIntegrate jetzt herunterladen</a>
 
 <p class="schrift_blau text-bold" translate="STEP2"></p>
      <div class="explain-step-text" translate="OpenEasyIntegrateandrunthefiledouble"></div>
  <img src="../../img/installation/outlookwin/SchrittAuto1.png" class="explain-step-img" >
    <div class="explain-step-text" translate="mayRunthesoftwareonRun"></div>
    
 <img src="../../img/installation/outlookwin/SchrittAuto2.png" class="explain-step-img" >
<p  class="schrift_blau text-bold" translate="STEP3"></p>
      <div class="explain-step-text" translate="TheMailtasticEnteryourintegrationcode"></div>


 <p  class="roboto_bold">Integrations-Code:</p>
<div  class="image_wrapper full-width">
        <textarea id="integrationcode" style="cursor:pointer;text-align:center;max-width : 379px;"  ng-model="outlookInstallationCode" class="form-control" rows="1" readonly select-on-click></textarea>
</div>
<button  ng-click="selectSignature('integrationcode')" class="ownbtn btnblau martop15 marbot25" translate="CopyIntegrationtotheclipboard"></button>
 
 
 
   <div class="explain-step-text" translate="Selectthesignatureaddedyourexistingsignature"></div>
 
    <div class="explain-step-text roboto_bold" translate="Thatityouignaturehasbeenupdated"></div>
  <div class="explain-step-text schrift_blau"><strong translate="ImportantNOTE"></strong> <normal translate="IfyouassignedCampaignBannerinout"></normal></div>
    
</div>