
<div>
    <p class="zeitaufwand" translate="Exceptionaltimeabout1minute"></p>

 <p  class="schrift_blau text-bold" translate="STEP1OF3"></p>

 

 <div class="explain-step-text" translate="ClickonthebuttontotheMailtasticProgramdownload"></div>
 <a class="btn btn-lg actionbutton downloadbutton" target="_self" href="https://www.mailtastic.de/downloads/Mailtastic_EasySync_2_6.msi" download="Mailtastic_EasySync_2_6.msi"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> EasySync jetzt herunterladen</a>
 
 <p class="schrift_blau text-bold" translate="STEP2OF3"></p>
      <div class="explain-step-text" translate="OpenEasySyncandrunthefiledouble"></div>
  <img src="../../img/installation/outlookeasysync/easysync1.jpg" class="explain-step-img" >
    <div class="explain-step-text" translate="Followtheinstallationinstructions"></div>
   
     <div class="explain-step-text schrift_blau"><strong translate="ImportantNOTE"></strong> <normal translate="Ifprogramsrequiresnoinstallation"></normal>  <a  target="_self" href="https://www.app.mailtastic.de/downloads/Mailtastic_EasyIntegrate.exe" download="Mailtastic_EasyIntegrate.exe">hier <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>.</div>
     
    
 <img src="../../img/installation/outlookeasysync/easysync2.jpg" class="explain-step-img" >
<p  class="schrift_blau text-bold" translate="STEP3OF3"></p>
      <div class="explain-step-text" translate="MailtasticEasySyncopensenteryourintegration"></div>

<p  class="roboto_bold " translate="Emailaddress"></p>
<div  class="image_wrapper full-width">
        <textarea id="integrationcode" style="cursor:pointer;text-align:center;max-width : 379px;"  ng-model="userData.email" class="form-control" rows="1" readonly select-on-click></textarea>
</div>
 
 <p  class="roboto_bold martop20">Integrations-Code:</p>
<div  class="image_wrapper full-width">
        <textarea id="integrationcode" style="cursor:pointer;text-align:center;max-width : 379px;"  ng-model="outlookInstallationCode" class="form-control" rows="1" readonly select-on-click></textarea>
</div>
<button  ng-click="selectSignature('integrationcode')" class="ownbtn btnblau martop15 marbot25" translate="Copyintegrationcodetotheclipboard"></button>
 
 
 
   <div class="explain-step-text" translate="Selectthesignatureunderyourexistingsignature"></div>
 
    <div class="explain-step-text roboto_bold" translate="Thatautomaticallysynchronizedfromnow"></div>
  <div class="explain-step-text schrift_blau"><strong translate="ImportantNOTE"></strong> <normal translate="IfyouassignedCampaignBannerComposingcampaigndisplayedcorrectly"></normal></div>
    
</div>