 
<p class="zeitaufwand" translate="Exceptionalabout3minutes"></p>

 
 
 
  <p  class="schrift_blau text-bold" translate="STEP1"></p>
 <div class="explain-step-text" translate="OpenMozillaThunderbird"></div>
 <img src="../../img/installation/thunderbird/Abb1.png" class="explain-step-img" >
 
 
 <p  class="schrift_blau text-bold" translate="STEP2"></p>
 <div class="explain-step-text" translate="RightclickontheemailaccountselectSettings"></div>
 <img src="../../img/installation/thunderbird/Abb2.png" class="explain-step-img" >
 
 <p  class="schrift_blau text-bold" translate="STEP3"></p>
 <div class="explain-step-text" translate="Copythemailtasticsignaturbuttonsintheclipboard"></div>
 
 
 <div class="marbot20" >
  <textarea style="cursor:pointer;" id="thunderbirdsnippet"  ng-model="thunderbirdSnippet" class="form-control" rows="8" readonly select-on-click></textarea>
</div>
 
 <button ng-click="selectSignature('thunderbirdsnippet')" class="ownbtn btnblau btn-lg installationcopybutton" translate="MailtasticSignaturcampaignbannerscopytotheclipboard"></button>

 
 <p  class="schrift_blau text-bold" translate="STEP4A"></p>
 <div class="explain-step-text" translate="UnlessuseHTMLtheMailtasticintotheopenfield"></div>
  <div class="explain-step-text" translate="Ifcampaigncodeexistexistingcode"></div>
 <div class="explain-step-text roboto_bold" translate="Thebottomrightconfirmwithandthatwasit"></div>
 <img src="../../img/installation/thunderbird/Abb3.png" class="explain-step-img" >
 
 <p  class="schrift_blau text-bold" translate="STEP4B"></p>
 <div class="explain-step-text" translate="signatureenabledpleaseclickonBrowse"></div>
 <img src="../../img/installation/thunderbird/Abb4.png" class="explain-step-img" >
 
 <div class="explain-step-text" translate="WordPadoreditorrightclickonthefileOpenWithWordPad"></div>
  <div class="explain-step-text" translate="completecopiedMailtasticsignatureintheblankfield"></div>
   <div class="explain-step-text" translate="gotacampaignexistingsignaturetexton"></div>
    <div class="explain-step-text roboto_bold" translate="Nowjustyetandyouredone"></div>
 <img src="../../img/installation/thunderbird/Abb5.png" class="explain-step-img" >
 
 
 <p  class="schrift_blau text-bold" translate="MADE"></p>
 <div class="explain-step-text" translate="campaignbannerwillbedisplayedinyouremails"></div>
 <img src="../../img/installation/thunderbird/Abb6.png" class="explain-step-img" >
