 <p  class="schrift_blau text-bold">WEB-TOOLS</p>
 <div class="explain-step-text"><normal translate="Mailtasticcountlessapplicationsintegrateuchas"></normal> <span style="font-weight : bold;" class="schrift_blau">Salesforce, Desk.com, Zoho</span> <normal translate="followingHTMLsnippetHTMLsignatureareatargetapplication"></normal>
 </div>
 
 
<div class="marbot25" ng-show="currentManual.showSnippet && currentManual.title === 'Web-Tools'">
    <textarea id="webtoolsnippet" style="cursor:pointer;"  ng-model="htmlSnippetRaw" class="form-control" rows="8" readonly select-on-click></textarea>
</div>
 
 <button ng-click="selectSignature('webtoolsnippet')" class="ownbtn btnblau btn-lg installationcopybutton" translate="MailtasticCampaignBannertoclipboard"></button>
 
 <div class="explain-step-text" translate="Shouldquestionsariseintheintegrationpleaseus">
 </div>