


<!-- <script type="text/ng-template" id="campaign_modal_tpl.html"> -->
<div  class="employeemodal" >
       <div class="modal-header flex-center-space-between">
 <h3  class="modal-title"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>{{modaloptions.heading}}</h3>
                  <div class="cursor-pointer pull-right" ng-click="cancel()"><span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>  </div>

    </div>
    <div class="modal-body" cg-busy="loadingPromise"  >
        <div ng-show="modaloptions.mode ==='enteremail'" ng-include src="'login/passwordlost/snippets/enteremail.html'">
        </div>
         <div class="existing" ng-show="modaloptions.mode ==='setpassword'"  ng-include src="'login/passwordlost/snippets/setpassword.html'">
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="modaloptions.mode ==='setpassword'" ng-click="setNewPassword()" class="btn actionbutton" type="button" translate="SavePassword"></button>
        <button ng-disabled="!emaildata.email || !emaildata.emailrep" ng-show="modaloptions.mode ==='enteremail'" class="btn actionbutton" type="button" ng-click="resetPassword()" translate="Resetnow"></button>
       
 
    </div>

</div>
<!-- </script> -->
