<!DOCTYPE html>
<html>
	<head>
		<title>Herzlich Willkommen zu Mailtastic</title>
		<meta charset="utf-8" />
	</head>
	<body align="center" style="background-color: #6b93dc;text-align:center;" class="">
		<img src="http://www.app.mailtastic.de/img/common/mailtastic_logo.png" style="width:170px;line-height:1;margin-bottom:0;margin-top:0;color: #FFFFFF !important;"/>
		<p class="roboto_bold">
			Einladung zu Mailtastic
		</p>
		<p style="font-size:80%;">
			Sehr geehrter Herr {{lastname}},
			Sie wurden zu Mailtastic eingeladen. Bitte bestätigen Sie Ihre Teilnahme indem Sie auf den angefügten Link klicken.
			Anschließend wird Ihnen gezeigt, wie sie Mailtastic einmalig installieren können.
		</p>
		<p class="" style="color: #FFFFFF !important;border-radius:0.2em;background-color:#FFFFFF;padding:2em;">
			<a href="{{link}}">{{link}}</a>
		</p>
		<p>
			Ihr Mailtastic-Team.
		</p>
		<p>
			www.mailtastic.de
		</p>
		<a href="http://www.mailtastic.de/impressum.html">Impressum</a>
	</body>
</html>