



//general css fixed for tinymce editor
$designerbordercolor : $hellgrau;
//unterer teil soll nicht angezeigt werden
.cke_combo__fontsize .cke_combo_text.cke_combo_inlinelabel{
    width : 40px;
}

.cke_wysiwyg_div{
    min-height : 200px;
    padding-top : 10px !important;
    padding-bottom : 10px !important;
}

/*
* css fix for cke editor letter spacing
*/
.cke_combo__letterspacing{
    .cke_combo_text.cke_combo_inlinelabel{
        width : 100px;
    }
    
    a{
        .cke_combo_button{
            
            width : 130px;
        }
    }
}

.signature{


    /*    .outerform{
            margin-bottom : 30px;
        }
    
        .container{
            width : 930px;
            padding-left : 0;
            padding-right : 0;
        }*/


    .tablerow{
        .down{
                color:$hellgrau !important;
        }
        
        .cell.sigtitle{
            .stitle:hover{
                text-decoration: underline;
                cursor : pointer;
            }
            
            width : 280px;
            max-width: 280px;
            padding-right : 15px;
        }
        
        .cell.activein{
            padding-left : 20px;
            width : 220px;
            max-width: 220px;
             padding-right : 15px;
        }
        
         cell.rolledout{
            width : 250px;
            max-width: 250px;
        }
        
        .cell.action{
            width : 72px;
            max-width: 72px;
            
        }
        
        
        
        //group rows in signature details
        .groupTitle{
                width : 198px;
                max-width : 198px;
                 padding-right : 15px;
                .upper{
                    .glyphicon{
                        margin-right : 5px;
                    }

                    @include format4;
                    font-family : roboto_medium;
                    color : $blau;
                    max-width : 85%;
                }
            }
            
            .cmptitlecol{
                width : 198px;
                max-width : 198px;
                 //padding-right : 15px;

                .color-rect{
                    height : 11px;
                    width : 4px;

                    display : inline-block;
                    /*margin-bottom : 3px;*/
                }
                .title{
                    @include format4;
                    color : #45474a;
                    font-family : roboto_medium;
                    display : inline-block;
                    max-width : 85%;
                }
                .wann{
                    @include format5;
                    color : #45474a;
                    margin-top : 2px;
                }
                .down{
                    margin-top : 2px;
                 
                }

                .no-campaign{
                    @include format3;
                    font-weight: bold;
                    color : $rot;
                    line-height : 1.3;
                }
            }
            .banner{
                width : 198px;
                max-width : 198px;
                img{
                    max-width : 150px;
                    max-height : 38px;

                }
            }
    }




    .designer{
        .leftform{
            // margin-right : 25px;
            padding : 25px;
            border-radius: 3px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color : white;
            width : 100%;
            max-width : 610px !important;
             min-width : 100px !important;


             
             .templatearea{
                 padding : 15px;
                 justify-content : space-between;
                 margin-top : 15px;
                 margin-bottom : 15px;
               border-radius : 3px;
                color : white;
                background-color : $green;
                .textcol{
                     width : 60%;
                     .up{
                         
                     }
                     .down{
                        font-size : 11px; 
                        margin-top : 5px;
                     }
                 }
                .vorlagebutton{
                    max-height : 35px;
                }
             }
             
            

            
            .vorschausignaturlabel{
                margin-top : 30px;
            }
            
            .exampleempselect{
                max-width : 250px;
                /*                margin-right : 10px;*/
            }
            
            
            
            .infobox.small{
                //margin-top : 10px;
                margin-bottom : 0;
                .additionaltext{
                    margin-top : 0;
                }
                .glyphicon{
                        margin-top: auto;
                        margin-bottom: auto;
                        font-size : 16px;
                }
            }
            
            .infobox.big{
                margin-top : 10px;
                margin-bottom : 10px;
                .text{
                    color : $dunkelgrau;
                }
                .glyphicon{
                        color : $dunkelgrau;
                }
            }


            .previewfield{
                padding : 10px;
                width : 100%;
                border : 1px solid $designerbordercolor;
                border-radius : 3px;
                min-height : 200px;
                margin-top :10px;
                overflow : auto;
                margin-bottom : 10px;
            }
        }




        .fieldarea{
            width : 320px;
            border-top-right-radius: 3px;
            background-color : $dunkelgrau;
            padding : 25px;

            // width : 214px;
            // min-width : 214px;
            .headline{
                @include format1;
                font-family : roboto_light;
                color : white;
                margin : 0;
                font-size : 12px;
                margin-bottom : 25px;
            }


            .modeswitch{
                //background-color : white;
                padding : 2px;
                border-radius: 3px;
                .switchelement{
                    width : 50%;
                    color  : white;;
                    //background-color : $blau;
                    font-family: roboto_light;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    /*border-radius: 3px;*/
                    line-height: 1;
                    cursor: pointer;
                    border: none;
                    height : 30px;
                    /*     border-width : 2px;
                  border-color : white;*/
                    border : 2px solid white;
                    position : relative;
                }
                .switchelement.right{
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;

                }
                .switchelement.left{
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;

                }
                .switchelement.active{
                    background-color: white;
                    border-width : 0;
                    color : $blau;;

                }
                
                 .switchelement.active:after {
                    content: ' ';  
                    width: 0;
                    height: 0;
                    display: block;
                    border-left: 6px solid transparent; 
                    border-right: 6px solid transparent; 
                    border-top: 10px solid white; 
                    position: absolute;
                    left: 45%;
                    bottom : -10px;
                }
                
                .switchelement.inactive{


                }
            }
            
            
            .legend{
                padding-top : 15px;
                padding-bottom : 15px;
                font-size : 11px;
                .rect{
                    $rectdimension : 10px;
                    height : $rectdimension;
                    min-height : $rectdimension;
                    max-height : $rectdimension;
                    width : $rectdimension;
                    min-width : $rectdimension;
                    max-width : $rectdimension;
                }
            }

            .section{

                .sectionheadline{
                    color : white;
                    margin-top : 20px;
                    font-family : roboto_light;

                    font-size : 12px;


                }
                .sectionelement{
                    background-color : white;
                    margin-top : 10px;
                    padding : 10px;
                    border-radius : 3px;
                    button{


                    }
                    .right{
                        margin-left : 10px;
                        .top{
                            .first{
                                font-family : roboto_bold;
                            }
                            .second{
                                font-family : roboto_light;
                            }
                        }
                        .bottom{
                            font-size : 11px;
                            color : $hellgrau;
                            .entry{
                                cursor : pointer;

                            }
                            .entry:hover{
                                color : $grau;
                            }
                        }
                    }
                }
            }



        }
    }

    .sigdetails{
         
        //green "button" when signature is assigned to at least one group
   

        .preview{
            .content{
                .topnavrow{
                    select{
                        max-width : 250px;
                    }
                }
                .row{
                    margin-left : 0;
                    margin-right : 0;
                    margin-top : 60px;
                   .leftcol{
                         /*border-right : 1px solid $hellweis ;*/
                         padding-left : 0;
                        .previewarea{

                        }
                    }
                    .rightcol{
                        padding-right : 0;
                        .infobox{
                            margin-top : 20px;
                        }
                    }


                }

            }

        }

    }

}

.signature_value_edit_modal{
    .modal-dialog{
        width : 300px;
    }



    .valueeditmodal{

        .headlinefirst{
            font-size : 20px;
            font-family : roboto_bold;
        }
        .headlinesecond{
            font-size : 20px;
            font-family : roboto_light;
        }


        .line{

            height: 2px;
            border-top: solid 1px $dunkelweis;
            margin-top: 15px !important;
            margin-bottom: 15px;
        }



        .row{
            margin : 0;
            @media(min-width : $screen-md-min){
                @include flex;
            }
        }

        .modal-body{
            padding : 25px;
            padding-bottom : 15px;
        }
        
        .infobox{
            margin-top : 20px;
        }


    }

    .valueeditmodal.urlvalue{   
        //modal to edit url

        .textorimage{
            margin-bottom : 30px;
            margin-top : 30px;
            .text{
                margin-right : 30px;
                font-weight : 700;
            }
            
            .radio{
                margin : 0;
                margin-right : 30px
            }  
            
           
        }       
        
        .imageprevarea{
            .formarea{
                width : 35%;
                margin-right : 40px;
                
                 .radio.top{
                    margin-top : 0;
                }
                .radio.bottom{
                    margin-top : 20px;
                }
            
                ownbtn{
                    margin-top : 10px;
                }
                
                
            }
            .imgpreview{
                width : 65%;
                .hint{
                    margin-bottom : 10px;
                    color : $hellgrau;
                }
                img{
                    max-width : 100%;
                    max-height : 300px;
                }
            }
        }

    }
}


.sigtemplatemodal{
    .modal-dialog{
        width : 1070px;
    }
    .leftcol{
        font-size : 18px;
         background-color : $dunkelweis;
         padding : 25px;
         width : 220px;
         border-top-left-radius: 3px;
         border-bottom-left-radius: 3px;
    }
    
    .rightcol{
         padding : 25px;
         width : 850px;
         
         
    .templatelist{
        margin-top : 30px;
        max-height : 600px;
        overflow-y : auto;
           .templateentrycontainer{
               margin-bottom : 30px;
              
               .leftcontainer{  //preview
                    padding : 30px;
                   width : 541px;
                   border: 1px solid $hellgrau;

               }
               .rightcontainer{ //meta data
                    width : 250px;
                    padding : 29px;
                   background-color : $dunkelweis;
                   
                   .title{
                       font-family : roboto_bold;
                   }
                   button{
                       margin-top : 50px;
                       margin-left : auto;
                       margin-right : auto;
                   }
               }
           }

    }
         
        
        
    }
    
  
}

