<div class="format0 schrift_blau_imp roboto_bold"> {{(!admindata.firstname) ? admindata.email : (admindata.firstname + ' ' + admindata.lastname)}} <normal translate="asksyourhelp"></normal></div>
<div class="line"></div>
<div class="format2 martop20"><normal translate="1WHATISIT"></normal><span style="visibility: hidden;" class="icon-googlemail"></span></div>
<div class="martop20" translate="ForthecentralpresentationservicesofMailtastic">

</div>
<div class="format3 martop30 roboto_bold">
    {{(!admindata.firstname) ? admindata.email : (admindata.firstname + ' ' + admindata.lastname)}} <normal translate="asksyourcompanyignaturenow"></normal>

</div>


<div class="format2 martop30" translate="2WHATDOIMAKE"></div>

<div class="martop20" translate="ToensureThatsisquiteeasy">

</div>

<div class="martop30" translate="Pamperintegrationprocessconduct">

</div>

  <div role="separator" class="line"></div>  

<div class="flex-center-left">
    <div ng-click="openHelpModal()" class="ownbtn btngrau leftbutton" translate="Ineedhelp"></div>
    <div ng-click="step2()" class="ownbtn btnblau" translate="Continuetonextstep"></div>
</div>
