<strong>Karsti Maschmeier</strong> 
<br />
Geschäftsführer
<br />
<br />
<a target='_blank' href='www.mailtastic.de'>

    <img src="http://default-environment-q3w7vutw76.elasticbeanstalk.com/images/siglinks/company/3adaff74-807a-401d-8743-47536e6cdf52/unternehmen_logo-wIqAalc9ce.png" alt="Mailtastic" style="max-width : 100%;"  >
</a>
<br />
<br />
<span style="color: #999999 ;">Maschmeier VX</span>
<br />
<span style="color: #999999 ;">Dr.-Hermann-Neubauer-Ring 32 - 34</span>
<br />
<span style="color: #999999 ;">64500 Seligenstadt</span>
<br />
<br />
<span style="color: #999999 ;">Office: 06253 97 21 95</span>
<br />
<span style="color: #999999 ;">Mobil:&nbsp;01577 97 20 818</span>
<br />
<br />
<span style="color: #999999 ;">E-Mail: tester@mailtastic.de</span>
<br />
<br />
<br />
<br />
-
<br />
<br />
<a target="_blank" href="http://default-environment-q3w7vutw76.elasticbeanstalk.com/li/3adaff74-807a-401d-8743-47536e6cdf52">
    <img  moz-do-not-send="true" src="http://default-environment-q3w7vutw76.elasticbeanstalk.com/im/3adaff74-807a-401d-8743-47536e6cdf52" alt="Bitte aktivieren Sie externe Inhalte, um diese E-Mail vollständig sehen zu können." />
</a>
<div>
    <img style="width: 0;  max-width: 0; max-height: 0; height: 0;" src="http://default-environment-q3w7vutw76.elasticbeanstalk.com/picserve/activatesig/bf7761a3-c8bd-4a41-be7f-11d2308e47bd/3adaff74-807a-401d-8743-47536e6cdf52/2016-06-09T15:02:51+00:00">
</div>