/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.05.2016, 14:16:39
    Author     : kippple
*/

.kkontaktform {
/*  padding-top: 70px;
  padding-bottom: 70px;*/
/*  background: #009fe4;
  background-image: url("../img/login/Schatten.png"), url("../img/login/Picto_Teppich_eng-1.png");
  background-attachment: fixed;*/
  color: white; }
  .kkontaktform .toparea {
    text-align: center; }
    .kkontaktform .toparea img {
      width: 70px;
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      min-height: 70px;
      max-height: 70px; }
    .kkontaktform .toparea .headline {
      margin-top: 8px;
      font-size: 32px;
      font-family: roboto_bold; }
    .kkontaktform .toparea .subline {
      font-family: roboto_light;
      font-size: 19px;
      margin-top: 7.5px; }
  .kkontaktform .container.kform {
    margin-top: 70px; }
    .kkontaktform .container.kform label {
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.1px; 
      color : white;
    }
    .kkontaktform .container.kform .actionbutton_green {
      font-size: 19px;
      letter-spacing: 0.3px;
      margin-top : 17px !important;
    }